body {
    font: 16px/2 Kalimati, Veranda, sans-serif;
    color: #666;
}

h1 {
    font: 48px/1.1 Kalimati, Veranda, sans-serif;
    padding: 25px 46px 20px 42px;
    color: gray;
}

h2 {
    font: bold 24px/1.1 Kalimanti, Veranda, sans-serif;
    color: #f07c17;
    margin: 0 0 30px 0;
}

.image-column {
    margin: 0 0 0 12px;
    padding: 0 0 0 1px;
    max-width: 375px;
}

.list-box {
    border: 1px solid #ccc;
    padding: 29px 29px 30px 32px;
    margin: 30px 0 0 0;
}

.text-column {
    max-width: 533px;
    padding: 0 0 0 0;
    margin: 0 0 0 32px;
}
